{% extends "base.html" %}
{% block content %}
<div class="post">
			<h2 class="title">گروه مهندسی کامپیوتر</h2>
			<p class="date"></p>
			<div class="entry">
				<p>گروه مهندسی کامپیوتر دانشگاه گیلان از مهرماه 1386 با پذیرش 40 دانشجو در یک رشته کارشناسی مهندسی کامپیوتر گرایش نرم افزار دوره روزانه و با 3 هیأت علمی و یک کارشناس فعالیت خود را آغاز نمود و در حال حاضر دارای رشته های کارشناسی مهندسی کامپیوتر گرایشهای نرم افزار، سخت افزار و کارشناسی ارشد مهندسی نرم افزار و کارشناسی ارشد معماری سیستم های کامپیوتری میباشد. در کارشناسی گرایش نرم افزار دارای 197 دانشجو، در گرایش سخت افزار 100 دانشجو و در رشته ارشد نرم افزار 32 دانشجو و در کارشناسی ارشد معماری سیستم های کامپیوتری 16 دانشجو در حال تحصیل هستند. 1395/09/3</p>
            </div>
  </div><!-- /.blog-post -->

{% endblock %}
