{% extends "base.html" %}
{% block content %}

  <div class="all">
    <div class="shadow-1">
        <div class="container_box">
          <p>  <a href="/courselist/بهار-96"> بهار-96 </a></p>
        </div>
    </div>
      <div class="shadow-1">
        <div class="container_box">
        <p>  <a href="/courselist/تابستان-96"> تابستان-96 </a></p>
        </div>
    </div>
      <div class="shadow-1">
        <div class="container_box">
          <p>  <a href="/courselist/پاییز-96"> پاییز-96 </a></p>
        </div>
    </div>
      <div class="shadow-1">
        <div class="container_box">
          <p>  <a href="/courselist/زمستان-96"> زمستان-96 </a></p>
        </div>
    </div>
      <div class="shadow-1">
        <div class="container_box">
           <p>  <a href="/courselist/زمستان-95"> زمستان-95</a></p>
        </div>
    </div>


  </div>


{% endblock %}
