{% extends "base.html" %}
{% block content %}

<div class="post">
			<h2 class="title"></h2>
			<p class="date"> {{  2017 }}</p>
			<div class="entry">


				</div>
		</div>


<h2>Use the XMLHttpRequest to get the content of a file.</h2>
<p>The content is written in JSON format, and can easily be converted into a JavaScript object.</p>

<p id="demo"></p>

<script>

var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var myObj = JSON.parse(this.responseText);
        var d =  document.getElementsByClassName("post").innerHTML;
        var t =document.getElementsByClassName("title").innerHTML;
        for (x in myObj) {
            t = myObj[x].post_title;
        }
    }
};
xmlhttp.open("GET", '{{ url_for('webservice') }}', true);
xmlhttp.send();

</script>

<p>Take a look at <a href="json_demo.txt" target="_blank">json_demo.txt</a></p>

{% endblock %}